@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Lato", sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 90px; /* biar klik navbar gak ketutup header */
}

.navbar-fixed {
  @apply fixed z-[9999];
}

.hamburger-active > span:nth-child(1) {
  @apply origin-top-left rotate-45;
}

.hamburger-active > span:nth-child(3) {
  @apply origin-top-left -rotate-45;
}

.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}